@import url('https://fonts.googleapis.com/css?family=Bebas Neue&display=swap');

body {
    font-family: "Bebas neue";
    background-color: #353535;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #0070dd;
    border-radius: 5px 0px 0px 5px;
    padding: 5px;
    height: 20px;
    outline: none;
    color: #757575;
}

.searchTerm.error {
    border-color: red;
}

.search-key {
    width: 40px;
    margin-right: -3px;
    border-radius: 5px 0 0 5px;
}

.searchTerm:focus {
    color: #0070dd;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #0070dd;
    background: #0070dd;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    25% {
        margin-left: 0.5rem;
    }

    75% {
        margin-left: -0.5rem;
    }

    100% {
        margin-left: 0rem;
    }
}

#wrap.error{
    animation: shake 0.2s ease-in-out 0s 2;
}


.searchButton.error {
    border-color: red;
    background: red;
}

.centered-in-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Resize the wrap to see the search bar change!*/
#wrap {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.main-container {
    margin: 20px;
    width: 80%;
}

label {
    transform: translate(105%, 100%);
}

h2 {
    padding: 0px 10px;
    ;
}

#content-dungeons-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#character {
    margin: 20px 10px -10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 65px;
    font-weight: bold;
}

#character img {
    position: relative;
    top: -4px;
    width: 50px;
    height: 50px;
    border-radius: 12px 0px 0px 12px;
    margin-right: 10px;
}

#character-server {
    margin-left: 10px;
    color: #555555;
}

.tr-clickable {
    cursor: pointer;
}

.sort-icon {
    color: yellow;
    font-size: 0.7em;
    margin-left: 5px;
}

.fa-heart {
    color: red;
    font-size: 0.7em;
}

th {
    padding: 5px;
    text-align: start;
}

td {
    padding: 0px 5px;
}

tbody tr:hover {
    background-color: #555555;
}

#content {
    display: flex;
    flex-direction: row;
}

#bff-table {
    width: 100%;
}

.content-column {
    width: 50%;
    background-color: #66666635;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
}



/*#region Dungeon Card*/
.dungeon-card {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.test {
    background-color: #242424;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.dungeon-card img {
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
    width: 30%;
}

.dungeon-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dungeon-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.dungeon-bar {
    margin: 10px 0px;
    width: 100%;
    background-color: lightgray;
    height: 20px;
    border-radius: 10px;
}

.dungeon-bar-fill {
    background-color: #ff8000;
    height: 20px;
    text-align: end;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.dungeon-details {
    margin-top: 5px
}

.dungeon-details span {
    color: greenyellow
}

.dungeon-name {
    font-family: "Bebas neue";
    font-size: 1.1em;
}

.dungeon-bar-text {
    position: relative;
}

/*#endregion */
#dungeons {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

@keyframes FadeIn {
    from {
        color: #0070dd;
    }

    to {
        color: white;
    }
}

.float-value{
    bottom: 8px;
    float: left;
    position: relative
}

#search-results{
    display: none;
    z-index: 50;
    position: absolute;
    width: 260px;
    background-color: #242424;
    border-left: 1px solid #242424;
    border-right: 1px solid #242424;
    border-bottom: 1px solid #242424;
    border-radius: 0 0 5px 5px;
}

.search-background{
    background-color: red;
    width: 100%;
    height: 100%;
}

.single-result{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.single-result:hover{
    background-color: #353535;
    cursor: pointer;
}

.result-name{
    margin-left: 5px;
}


.class-icon {
    width: 64px;
    height: 64px;
    background-size: 100%;
}

.class-icon-small {
    width: 15px;
    height: 15px;
}

.class-deathknight{
    background-image: url(./img/classicons/dk.png);
}

.class-demonhunter{
    background-image: url(./img/classicons/dh.png);
}

.class-hunter{
    background-image: url(./img/classicons/hunt.png);
}

.class-rogue{
    background-image: url(./img/classicons/rogue.png);
}

.class-druid{
    background-image: url(./img/classicons/druid.png);
}

.class-evoker{
    background-image: url(./img/classicons/evoker.png);
}

.class-mage{
    background-image: url(./img/classicons/mage.png);
}

.class-shaman{
    background-image: url(./img/classicons/shaman.png);
}

.class-monk{
    background-image: url(./img/classicons/monk.png);
}

.class-paladin{
    background-image: url(./img/classicons/paladin.png);
}

.class-priest{
    background-image: url(./img/classicons/priest.png);
}

.class-warlock{
    background-image: url(./img/classicons/warlock.png);
}

.class-warrior{
    background-image: url(./img/classicons/war.png);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1440px) {
    .dungeon-card {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .main-container {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    #header {
        flex-direction: column-reverse;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    #content {
        flex-direction: column;
    }

    .content-column {
        width: 100%;
    }

    #character {
        justify-content: center;
    }

    #character {
        font-size: 50px;
    }

    #character img {
        position: relative;
        top: -2px;
        width: 38px;
        height: 38px;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    #character {
        font-size: 40px;
    }

    #character img {
        position: relative;
        top: -1px;
        width: 30px;
        height: 30px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}